<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/musicpollstyle.css" th:href="@{/css/musicpollstyle.css}" />

</head>
<body>




<form th:action="@{/signup}" method="post" class="form-with-border">

    <div><label> Username: <br><input type="text" name="username" th:value="${usernameEntry}"> </label></div>
    <div><label> Password: <br><input type="password" name="password"/> </label></div>
    <div><label> Confirm Password: <br><input type="password" name="confirmPassword"/></label></div>
    <div style="color:red" th:if="${errors}">
        Errors exist
        <div th:each="e : ${errors}">
            <p th:text="${e}"></p>
        </div>
    </div>
    <div><input type="submit" value="Sign Up"/></div>
</form>

<div th:insert="~{footer::copy}">xxx My Filler Content xxx</div>

</body>
</html>